---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Modern Astro Blog">
  <main class="flex flex-col max-w-2xl mx-auto my-8">
    <h1 class="text-4xl font-bold">
      Modern <span class="text-sky-400">Astro</span> Blog
    </h1>
    <div class="my-6"></div>
    <p class="text-lg">
      Welcome to this Modern Astro Blog built with Astro and Cosmic.
    </p>
    <div class="my-6"></div>
    <ul class="grid grid-cols-2 gap-8">
      <Card
        title="Blog Post 1"
        href="/"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus saepe reiciendis nisi perferendis vel culpa perspiciatis. Quam, aliquam eveniet officia, ullam quos debitis, voluptates sed distinctio maxime deserunt exercitationem."
        tag="Astro"
      />
      <Card
        title="Blog Post 2"
        href="/"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus saepe reiciendis nisi perferendis vel culpa perspiciatis. Quam, aliquam eveniet officia, ullam quos debitis, voluptates sed distinctio maxime deserunt exercitationem."
        tag="TypeScript"
      />
      <Card
        title="Blog Post 3"
        href="/"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus saepe reiciendis nisi perferendis vel culpa perspiciatis. Quam, aliquam eveniet officia, ullam quos debitis, voluptates sed distinctio maxime deserunt exercitationem."
        tag="Next.js"
      />
      <Card
        title="Blog Post 4"
        href="/"
        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus saepe reiciendis nisi perferendis vel culpa perspiciatis. Quam, aliquam eveniet officia, ullam quos debitis, voluptates sed distinctio maxime deserunt exercitationem."
        tag="Cosmic"
      />
    </ul>
    <div class="my-12"></div>
    <a
      href="/blog"
      class="text-lg bg-sky-400 text-white rounded-md px-8 py-3 shadow hover:shadow-xl transition-shadow self-center"
      >all blog posts</a
    >
  </main>
</Layout>
